


/*
  Some selectors transferred over from "default.css"
*/


#main {
    transition: margin-left .5s;
    padding: 16px;
    padding-bottom:127px;
    margin-left: 15%;
    text-decoration: none;
}






footer {
	/* position: fixed; */
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #00a8e7;
	color: white;
	z-index: 2;
	font-size: 17px;
	text-align: center;
	min-height: 100px;
	padding-top: 20px;
}


footer a {
	text-decoration: none !important;
	color: white !important;
	text-transform: uppercase;
	letter-spacing: -1px;
}


p {
    padding-top: 10px;
    padding-bottom: 10px;
}


ol {
    padding: 10px;
}


ul {
    padding: 10px;
}


.title {
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 700;
    color: #fc4c02;
}


/* changes? */
#stage-content {
    height: auto;
}



.dropdown-btn {
    background-color: #012169;
    border: none;
    font-size: xx-large;
}


.dropdown-btn:hover {
    color: #00a8e7;
}


.active {
    background-color: rgb(51 75 179);
    color: white;
}


.dropdown-container {
    display: none;
    background-color: rgb(51 75 179);
    padding-left: 8px;
}

/* media  */

@media only screen and (min-width: 700px) {
    #title {
    	font-size: 27pt;
		}
    #openbtn {
    	display:none;
		}
    .sidenav {
    	width:15%
		}
    #main {
    	margin-left:15%
		}  
}

@media only screen and (max-width: 959px) {
    #title {
    	font-size: 30pt;
		}
    #main {
    	font-size: 13pt;
		}
}




@media only screen and (max-width: 700px) {
    #title {
    	font-size: 23pt;
		}
		.sidenav a {
			font-size: 12pt; 
        padding-top:15px;
        padding-left:20px;
    }
}




@media only screen and (max-width: 613px) {

	#main   {margin-left:0 !important;}

	.closebtn {
			display:unset !important;
			top: 75px !important;
			left: -62px !important;
	}

	#openbtn    {
			background: #012169;
			color: white;
			padding: 11px 15px;
			border-radius: 25px;
			box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
			display:unset !important;
			transition: all ease-in-out 300ms;
			position: fixed;
			top: 3px;
			z-index: 11;
			right: 6px;
	}
}