


/*
  Some selectors transferred over from "default.css"
*/


#stage-content {
    transition: width .5s;
	padding: 10px;
    padding-bottom:127px;
    width: 85%;
    text-decoration: none;
	display: inline-block;
	position:relative;
}






footer {
	/* position: fixed; */
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #00a8e7;
	color: white;
	z-index: 2;
	font-size: 17px;
	text-align: center;
	min-height: 100px;
	padding-top: 20px;
}


footer a {
	text-decoration: none !important;
	color: white !important;
	text-transform: uppercase;
	letter-spacing: -1px;
}


p {
    padding-top: 10px;
    padding-bottom: 10px;
}


ol {
    padding: 10px;
}


ul {
    padding: 10px;
}


.title {
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 700;
    color: #fc4c02;
}


/* changes? */
#content{
	text-align: unset;
}
#stage-content {
    height: 100%;
}
#openbtn    {
	background: #012169;
	color: white;
	padding: 11px 15px;
	/*border-radius: 25px;*/
	box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
	display:unset !important;
	transition: all ease-in-out 300ms;
	position: fixed;
	top: 8px;
	z-index: 11;
	left: 170px;
}


.dropdown-btn {
    background-color: #012169;
    border: none;
    font-size: xx-large;
}


.dropdown-btn:hover {
    color: #00a8e7;
}


.active {
    background-color: rgb(51 75 179);
    color: white;
}


.dropdown-container {
    display: none;
    background-color: rgb(51 75 179);
    padding-left: 8px;
}

/* media  */
@media only screen and (min-width: 1101px){
    .sidenav {
    	width:19%
		}
    #stage-content {
    	width:80%;
	}
}
@media only screen and (min-width: 700px) and (max-width:1100px) {
	#title {font-size: 30pt;}
	.sidenav {padding-top: 15px;}
    .sidenav {
    	width:23%
		}
    #stage-content {
    	width:76%;
		font-size: 13pt;
		}  

	.sidenav a {font-size: 18px;}
}







@media only screen and (max-width: 699px) {
	#stage-content{
		width: 100%;
	}
	.sidenav a {
		font-size: 12pt; 
		padding-top:15px;
		padding-left:20px;
    }
	.closebtn {
			display:unset !important;
			top: 75px !important;
			left: -62px !important;
	}


	.sidenav{
		padding-top:16px;
		position:fixed;
		width:0%;
		display: block;
	}
}