


/*
  Some selectors transferred over from "default.css"
*/


#stage-content {
    transition: width .5s;
	padding: 10px;
    padding-bottom:127px;
    text-decoration: none;
	display: inline-block;
	position:relative;
}




footer {
	/* position: fixed; */
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #00a8e7;
	color: white;
	z-index: 2;
	font-size: 17px;
	text-align: center;
	min-height: 100px;
	padding-top: 20px;
}


footer a {
	text-decoration: none !important;
	color: white !important;
	text-transform: uppercase;
	letter-spacing: -1px;
}


p {
    padding-top: 10px;
    padding-bottom: 10px;
}


ol {
    padding: 10px;
}


ul {
    padding: 10px;
}


.title {
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 700;
    color: #fc4c02;
}


/* changes? */
#content{
	text-align: unset;
}
#stage-content {
    height: 100%;
}



.dropdown-btn {
    background-color: #012169;
    border: none;
    font-size: xx-large;
}


.dropdown-btn:hover {
    color: #00a8e7;
}


.active {
    background-color: rgb(51 75 179);
    color: white;
}


.dropdown-container {
    display: none;
    background-color: rgb(51 75 179);
    padding-left: 8px;
}


.column{

}

/* media  */





@media only screen and (max-width: 799px) {
	#stage-content{
		width: 100%;
	}
	.sidenav a {
		font-size: 12pt; 
		padding-top:15px;
		padding-left:20px;
    }
	.closebtn {
			display:unset !important;
			top: 75px !important;
			left: -62px !important;
	}
	#openbtn{
		display:block;
	}

	.sidenav{
		padding-top:16px;
		position:fixed;
		transition: width 0.5s;
		width:0%;
		display: block;
		top: 75px;
	}
}