.sidenav {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100%;
    width: 14%;
    position: relative;
    z-index: 1;
    /*bottom: 214px;*/
    background-color: #012169;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: inline-block;
    text-align: left;

}

.sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s;
}

.sidenav a:hover {
    color: #00a8e7;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 43px;
    margin-left: 50px;
}


