.sidenav{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100%;
    z-index: 1;
    background-color: #012169;
    overflow-x: hidden;
    text-align: left;
    display: inline-block;
    vertical-align: top;

}

#mobile-menu-btn{
    display: inline-block;
}


@media screen and (min-width: 801px){
    .sidenav {
        width: 20%;
    }
    #menu{display:none;}
    body:not(".is-home") .sidenav {
		display: inline-block;
	}
}

@media screen and (max-width: 800px){
    .sidenav {
        width: 250px;
        display: none;
    }
    #menu{display: inline-block;}
}

#sidenav {
    overflow-y: auto;
    text-align: left;
}

#menu    {
	background: #012169;
	color: white;
	padding: 11px 15px;
	/*border-radius: 25px;*/
	box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
	transition: all ease-in-out 300ms;
	left: 170px;
    font-size:20pt; 
    cursor:pointer;
}

.sidenav-mobile-open{
    display: block !important;
    width: 250px !important;
}

.userPic{
	font-size: 36pt;
    float: left;
    padding-top: 7px;
    padding-right: 10px;
}
.userInfo{
	float:left;
	width: 100%;
    color:#fff;
    font-size: small;
    padding-left: 16px;
    padding-bottom: 20px;
}

.sidenav .sidebar-links a, .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /*font-size: 0.9rem;*/
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s;
}

.sidenav a:hover {
    color: #00a8e7;
}


